### List

In [6]:
l = []
l = list()
type(l)

In [74]:
l1 = ['a', 'b', 'c', 'd', 'e']
l2 = [1, 2, 3, 4, 5]
print(l1)
print(f'L = {l2}')

['a', 'b', 'c', 'd', 'e']
L = [1, 2, 3, 4, 5]

In [24]:
# slicing

l1[0]
l1[-1]
l1[:]
l1[2:4]
l1[2:]
l1[:3]
l2[2:5:2]
l2[::2]
l2[1::2]

[2, 4]

In [28]:
list(range(1,20, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [31]:
l1[2] = 15
l1[1:3] = 20, 50

In [32]:
l1

['A', 20, 50, 'd']

In [39]:
num = 10

del num

In [40]:
num

NameError: name 'num' is not defined

In [41]:
l2

[1, 2, 3, 4, 5]

In [52]:
del l2[2]    # deletes an element
l2.insert(2, 13)  # insert index, value
l2.extend([6, 7, 8])  # append all values 
# l2.remove(2)  # remove 1st occurance
del l2

In [53]:
l2

NameError: name 'l2' is not defined

In [59]:
# stack
stack = []
stack.append(1)
stack.append(2)
stack.append(3)

In [57]:
stack.pop()

3

In [58]:
stack

[1, 2]

In [65]:
queue = stack[:]  # hard copy
queue.append(4)
queue.append(5)

In [67]:
queue.pop(0)

1

In [68]:
A = [1, 2, 3]
B = A
B

[1, 2, 3]

In [69]:
B[1] = 1000

In [70]:
A

[1, 1000, 3]

In [78]:
len(l2)
max(l2)
min(l2)
sum(l2)

l1.count('a')

1

In [79]:
# membership
2 in l1

False

In [80]:
2 in l2

True

In [82]:
l1 + l2

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]

### Tuple immutable

In [103]:
t0 = ()
t00 = tuple()
t1 = 1, 2, 3, 4, 5
t2 = ('a', 'b', 'c', 'd', 'e')

In [94]:
t2

('a', 'b', 'c', 'd', 'e')

In [95]:
type(t1), type(t2)

(tuple, tuple)

In [96]:
t1.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [99]:
t1[2:5:1]

(3, 4, 5)

In [101]:
t1[3] = 332

TypeError: 'tuple' object does not support item assignment

In [107]:
a = 10 
b = 20

x, y = b, a
x, y

(20, 10)

### Set

In [118]:
s1 = {}
s1 = set()
s2 = {1,2,3,4,5,4,4,4,3,3,2}
s3 = {True, True, False, None}

In [116]:
s2

{1, 2, 3, 4, 5}

In [110]:
1 in s2

True

In [119]:
# s3.union(s2)
s2.union(s3)

{1, 2, 3, 4, 5, False, None}

In [114]:
s3.intersection(s2)

{True}

### Dictionary

In [120]:
l1 = ['Jack', 12, '6576545443']

In [123]:
l1[0]

'Jack'

In [126]:
d1 = {}
d1 = dict()

d1 = {'Name': 'Jack', 'Age': 12, 'Phone': '6576545443'}

In [129]:
d1['Age']
d1['PO'] # error

KeyError: 'PO'

In [130]:
d1['PO'] = 12874

In [131]:
d1

{'Name': 'Jack', 'Age': 12, 'Phone': '6576545443', 'PO': 12874}

In [132]:
d1['PO'] = 65458

In [133]:
d1

{'Name': 'Jack', 'Age': 12, 'Phone': '6576545443', 'PO': 65458}

In [134]:
d2 = d1.copy()
d1.get('PO')

In [136]:
for key in d2:
    print(key)

Name
Age
Phone
PO

In [137]:
for key in d2:
    print(d2.get(key))

Jack
12
6576545443
65458

In [138]:
d1.keys()

dict_keys(['Name', 'Age', 'Phone', 'PO'])

In [139]:
d1.values()

dict_values(['Jack', 12, '6576545443', 65458])

In [140]:
d1.items()

dict_items([('Name', 'Jack'), ('Age', 12), ('Phone', '6576545443'), ('PO', 65458)])

In [141]:
for item in d1.items():
    print(item)

('Name', 'Jack')
('Age', 12)
('Phone', '6576545443')
('PO', 65458)

In [145]:
for (key, value) in d1.items():
    print(f'{key} --> {value}')

Name --> Jack
Age --> 12
Phone --> 6576545443
PO --> 65458

In [147]:
d1.setdefault('PO', 10)

65458

{'Name': 'Jack', 'Age': 12, 'Phone': '6576545443', 'PO': 65458}

In [148]:
d1.get('Address')

In [153]:
# d1.setdefault('Address') # --> None
d1.setdefault('Second Address', 10)

10

In [154]:
d1

{'Name': 'Jack',
 'Age': 12,
 'Phone': '6576545443',
 'PO': 65458,
 'Address': None,
 'Second Address': 10}