# Exploratory Data Analysis

We'll attempt to perform an exploratory data analysis on the adult income dataset. 

When doing Exploratory Data Analysis (EDA), we want to observe and summarize our data through descriptive statistics so that we have a better understanding of them. 

We will use this dataset in order to test our knowledge of the Pandas library.   


**You can click on the hints to help you complete this exercise notebook, but the aim is to do this as few times as possible**

1. Load the dataset to the Google Drive, read it as csv file and store it to a dataframe named data

<details>
<summary>Click here for hints</summary>
<ul>
<li>Click the folder icon at the left</li>
<li>Click the page with the arrow and select the csv file from your pc to upload it</li>
<li>Use the pandas read_csv function and stor the result in a variable named data <mark>pd.read_csv('the_name_of_my_csv.csv')</mark></li>
</ul>
</details>

2. Check some basic info about the dataframe. 
* How many rows it has
* how many columns
* the types of the columns 
* the names of the columns
* the first 10 rows
* the last 7 rows

<details>
<summary>Click here for hints</summary>
If we assume that the dataframe is named df
<ul>
<li>With <mark>df.shape</mark> you get how many rows and columns it has</li>
<li>With <mark>df.dtypes</mark> you get the types of the columns</li>
<li>With <mark>df.columns</mark> you get the names of the columns</li>
<li>With <mark>df.head(n)</mark> you get the first <mark>n</mark> rows</li>
<li>With <mark>df.tail(n)</mark> you get the last <mark>n</mark> rows</li>
</ul>
</details>

3. Find the minimum,maximum, median and mean values of the column 'age' 

<details>
<summary>Click here for hints</summary>
If we assume that the dataframe is named df
<ul>
<li>With <mark>df['age'].min()</mark> you get the minimum value of column 'age'</li>
<li>With <mark>df['age'].max()</mark> you get the minimum value of column 'age'</li>
<li>With <mark>df['age'].mean()</mark> you get the mean value of column 'age'</li>
<li>With <mark>df['age'].median()</mark> you get the median value of column 'age'</li>
</ul>
</details>

4. Find all the descriptive statistics of the numerical columns of the dataframe

<details>
<summary>Click here for hints</summary>
If we assume that the dataframe is named df
<ul>
<li>With <mark>df.describe()</mark> you get descriptive statistics for all the numerical columns of the dataframe</li>
<li>With <mark>df['age'].describe(()</mark> you get descriptive statistics for the column 'age'</li>
</ul>
</details>

5. Find all the unique values of the column 'workclass' and count their frequency

<details>
<summary>Click here for hints</summary>
If we assume that the dataframe is named df
<ul>
<li>With <mark>df['workclass'].unique()</mark> you get the unique values (strings) that are stored in column <mark>'workclass'</mark></li>
<li>With <mark>df['workclass'].value_counts()</mark> you get the unique values (strings) and their frequency, from more frequnet to less frequent element, that are stored in column <mark>'workclass'</mark></li>
</ul>
</details>

6. If you do ***Question 5*** you will see all the unique values of column 'workplace'
* If you are observant you will notice that all the values have one leading whitespace, so a good idea is to remove it

<details>
<summary>Click here for hints</summary>
If we assume that the dataframe is named df
<ul>
<li>Create a function that will take as input a string and it will use the <mark>strip()</mark> function to remove the whitespaces from the start and end of the string</li>
<li>For example 
<pre class="line-numbers">
  <code class=" language-python">
    def strip_whitespaces(astr):
        return astr.strip()
  </code>
</pre></li>
<li> Use pandas <mark>apply</mark> function to apply your custom function to the columns 'workclass'. Remember to store the result back to the column by using the assign operator(=)
<li>
<pre class="line-numbers">
  <code class=" language-python">
    data['workclass'] = data['workclass'].apply(strip_whitespaces)
  </code>
</pre></li>
</ul>
</details>

7. Do the same thing for all the columns of the DataFrame if their dtype is object (they contain strings)
* You can do a for-loop to all the columns of the dataframe and check their dtypes and then apply the function

<details>
<summary>Click here for hints</summary>
If we assume that the dataframe is named df
<ul>

<li>For example 
<pre class="line-numbers">
  <code class=" language-python">
    for c in df.columns:
        if df[c].dtype == 'object':
            df[c] = df[c].apply(strip_whitespaces)
    
  </code>
</pre></li>
</ul>
</details>

8. As you can see in ***Question 5*** one unique value has the value of '?'. This represents the missing values in our dataset.
* Try to find how many '?' are in every column of our dataset
* In pandas with <mark>df.isna().sum()</mark> you can find in each column the number of missing values. You need to create a new function that checks for '?' values and not np.NaN values
* You can use the pandas function <mark>applymap(my_custom_function)</mark>, that applies the function <mark>my_custom_function</mark> to every cell of the dataframe element-wise


<details>
<summary>Click here for hints</summary>
If we assume that the dataframe is named df
<ul> Create the function that checks its cell if it equals '?'
<pre class="line-numbers">
  <code class=" language-python">
    def find_questionmark(astr):
        return astr == '?'
  </code>
</pre></li>
<li> Then use the applymap on all the dataframe to check each cell for equality with '?'. Follow the result with sum() to take the summary for each column
<pre class="line-numbers">
  <code class=" language-python">
    df.applymap(find_questionmark).sum()
  </code>
</pre></li>
</ul>
</details>

9. Compute the percent of above and bellow 50K salary for each different race.
* Change the values of salary to numerical ones
* Group results by different races using groupby, count the number of cases

<details>
<summary>Click here for hints, doubleclick the markdown cell and see the code in comments</summary>


<!-- inc_dict = {
    '<=50K': 0,
    '>50K': 1
}

data['income_num'] = data['income'].apply(lambda x: inc_dict[x])

above_50K = data.groupby('race')['income_num'].agg(['sum', 'count'])

results = pd.DataFrame(
    {
        '>50K': (above_50K['sum'] / above_50K['count']).values,
        '<=50K': ((above_50K['count'] - above_50K['sum'])/ above_50K['count']).values

    },
    index=race_counts.index.values)
results.head()


# 2nd way 
y = pd.pivot_table(data, values=['income_num'], index=['race'], columns='income', aggfunc=len)
y / y.sum(axis=1).values.reshape(-1, 1) -->


</details>

10. Compute the percent of above and bellow 50K salary for each different race and sex.  
Which combination is the highest paid in this dataset?  

* Change the values of salary to numerical ones
* Group results by different races and sexes

<details>
<summary>Click here for hints, doubleclick the markdown cell and see the code in comments</summary>

<!-- y = pd.pivot_table(data, values=['income_num'], index=['race'], columns='income', aggfunc=len)
y / y.sum(axis=1).values.reshape(-1, 1) -->